<app-standard-page>
  <h1>{{ 'Home' | translate }}</h1>
  <p>
    This is just a little sandbox/test project I made to experiment with:
  </p>
  <ul>
    <li>Angular 8.1</li>
    <li>Angular Libraries</li>
    <li>NgRx</li>
    <li>ngx-translate</li>
    <li>Jest</li>
    <li>Shallow-render</li>
    <li>Cypress</li>
    <li>SCSS</li>
    <li>Material</li>
    <li>Angular Flex Layout</li>
  </ul>
  <p>
    <a href="https://github.com/Delie/ng-test">GitHub/delie/ng-test</a>
  </p></app-standard-page
>
