.main-header {
  background: #238ccc;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 1px;
}

.sub-header {
  background: #555;
  padding: 10px;
  color: #fff;
}
